<!DOCTYPE html>
<html lang="en">
  {% include "/partials/header.html" %}
  <body>
    <div class="container">

      <div class="page-header">
        <h1>Salon Manager</h1>
      </div>

      <div class="panel with-nav-tabs">

        <div class="panel-heading">
          <ul class="nav nav-tabs nav-justified">
            <li><a href="/">Home</a></li>
            <li><a href="/clients">Clients</a></li>
            <li><a href="/stylists">Stylists</a></li>
            <li class="active">Edit Client</li>
            <li>Edit Stylist</li>
          </ul>
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6">
                <h3>Client: {{ client.getName }}</h3>
                <h3>Current Stylist:
                  {% for stylist in stylists %}
                    {% if client.getStylistId == stylist.getId %}
                      {{ stylist.getName }}
                    {% endif %}
                  {% endfor %}
                </h3>
              <p>Edit the client in the form to the right. You must select a stylist to associate them with.</p>
            </div>

            <div class="col-xs-6">
              <form action="/edited_client/{{ client.getId }}" method="post">
                <input name="_method" type="hidden" value="patch">
                <div class="form-group">
                  <label for="edit-client">Edit the client's name:</label>
                  <input class="form-control" name="edit-client" type="text" placeholder="{{ client.getName }}">
                </div>
                <label for="stylist_id">Select an existing stylist for the client:</label>
                <select name="stylist_id" class="form-control">
                    <option value="0"></option>
                    {% for stylist in stylists %}
                    <option value="{{stylist.getId}}">{{stylist.getName}}</option>
                    {% endfor %}
                </select>
                <label for="new_stylist">Add a new stylist:</label>
                <input name="new_stylist" class="form-control" value="">
                <button type="submit" name="form-submit">Click to update!</button>
              </form>
              <form action="/delete_client" method="post">
                <button type="submit" name="form-submit">Or delete the client!</button>
              </form>
            </div>
          </div>
        </div>

      </div>

    </div>
  </body>
</html>
